<html>

<head>
    <title>First Web Application</title>
</head>

<body>
<!--form action="/login" method="post">


    Query: <textarea rows="5" cols="100" name="query" ></textarea>
    <input type="submit" />
</form-->

<form action="/testThyleaf" method="get">
    <p>API:<select name="api">
        <option value="mistral"> Mistral </option>
        <option value="googlecustomsearch"> Google Custom Search </option>
        <option value="bravesearch"> Brave Search </option>
    </select>
    </p>
    <p> Query: <textarea rows="5" cols="100" name="query" ></textarea></p>
    <p><input type="submit" /></p>


    <p>Result: <textarea   rows="1" cols="1" name="result" ></textarea><p>

</form>
</body>

</html>